# Copyright (c) 2024 sig (Toxsig)
# SPDX-License-Identifier: MIT

if BOARD_KEYS60

config BOARD
	default "keys60"

config ZMK_KEYBOARD_NAME
	default "Keys60"

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

config USB_DEVICE_MANUFACTURER
        default "sig"

endif # USB

if BT

config BT_DIS_MANUF
        default "sig"

config BT_DIS_MODEL
        default "Keys60"

endif # BT

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

endif # BOARD_KEYS60
